.gitignore

# Ignore the models directory
/models/

# Ignore the data directory
/data/
/data_start/

# Ignore all __pycache__ directories
**/__pycache__/

*.log

config.yaml

# Ignore the env directory
/env/

/imgean-dev

.vscode
